{% extends 'parts/base.html' %}

{% block content %}
<div class="container my-3 py-3 shadow-sm border bg-light" style="min-height: 90vh">

    <div class="bg-white p-3 shadow-sm">
       {% include 'notifier/notification_settings.html' %}  
    </div>
 
    <div class="bg-white p-3 shadow-sm mt-3">
       {% include 'notifier/connection_settings.html' with notifier=sms_notifier only %}  
    </div>

    <div class="bg-white p-3 shadow-sm mt-3">
       {% include 'owencloud_connector/settings.html' with events=cloud_events connector=connector %}  
    </div>
</div>
{% endblock %}